.img-01{
    background-image: url(./images/01.jpg); 
}
.img-02{
    background-image: url(./images/02.jpg); 
}
.img-03{
    background-image: url(./images/03.jpg); 
}
.img-04{
    background-image: url(./images/04.jpg); 
}
.img-05{
    background-image: url(./images/05.jpg); 
}

.modern-gallery{
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.modern-gallery > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, .45, 1.4);
}

.modern-gallery > div:hover{
    flex: 5;
    border-radius: 20px;
}